*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    font-size: 50px;
    margin-bottom: 20px;
}
button{
    border: none;
    padding:20px 0px ;
    color: #fff;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
}
#increment-btn{
    background: darkred;
}
#save-btn{
    background: darkgreen;
}