*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin-top: 1em;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.address{
    text-align: center;
}
.address select ,
.address button{
    margin: 1em;
    padding: .5em;
    border: 0px;
    background: steelblue;
    color: white;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border-radius: 20px;
    transition: .3s background;
}
.address button:hover{
    background: rgb(18, 120, 203);
}